<p id="notice"><%= notice %></p>

<h1>Comments</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Post</th>
      <th colspan="3"></th>
    </tr>
  </thead>

   <tbody>
    <% @all_comments.each do |c| %>
      <tr>
        <td><%= c.title %></td>
        <td><%= c.content %></td>
        <td><%= c.post %></td>
        <td><%= link_to 'Show', c %></td>
        <td><%= link_to 'Edit', edit_comment_path(c) %></td>
        <td><%= link_to 'Destroy', c, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody> 
</table>

<ul class="contents"> 
  <% @all_comments.each do |c| %> 
    <li>
      <%= c.content %>
    </li>
  <% end %>
</ul>
<br>

<%= link_to 'New Comment', new_comment_path %>
